* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: rgb(232, 252, 252);
  --primary: #00adad;
  --button: linear-gradient(0deg, rgb(1, 116, 116) 0%, rgb(95, 253, 253) 100%);
  --shadow: 0 0 3px var(--primary);
}

nav menu {
  list-style: none;
}
 

/* HEADER */

header {
  box-shadow: 0 0 3px var(--primary);
  color: var(--primary);
}

header form {
  width: fit-content;
  box-shadow: var(--shadow);
}

header form label {
  display: none;
}

header form input {
  padding: 0.2rem;
  outline: none;
  border: none;
}

header form button {
  border: none;
  background: var(--button);
  color: white;
  padding: 0.2rem;
  font-weight: bold;
}

header menu a {
  display: inline-block;
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
  margin: 15px;
}

header menu a[href*="wishlist"] {
  background-image: url("icons/heart.png");
}

header menu a[href*="cart"] {
  background-image: url("icons/cart.png");
}
header menu a[href*="profile"] {
  background-image: url("icons/user.png");
}

/* NAV*/

body > nav menu a {
  color: var(--primary);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

body > nav menu a:hover {
  background: var(--background);

}


/* MAIN */

main {
  background: var(--background);
  padding: 1rem;
}

article {
  background: white;
  box-shadow: var(--shadow);
  width: 10rem;
  height: 20rem;
  border-radius: 10px;
  overflow: hidden;
}

article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

article *:not(img) {
  margin: 0.5rem 1rem;
}

article p.price {
  text-align: right;
}


/* Footer */

footer a {
  color: var(--primary);
  margin: 10px 20px;
}

/* Control de conocimientos */

/*css-control*/

 body{
    display: grid;
    grid-template: repeat(4, 70px 40px 1fr 50px ) / repeat(7,1fr);
    grid-template-areas:"header header header header header header header"
                        "nav main main main main  main main"
                        "nav main main main main  main main"
                        "nav main main main main  main main"
                        "nav main main main main  main main"
                        "footer footer footer footer footer footer footer";
    
  }
  header{
    grid-area: header;
  }

  header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:15px 20px;
  }

  header nav menu{
      display:flex;
      flex-direction:row;
      justify-content:space-around;
      align-items:center;
  }

  h1{
    margin: 20px;
  }

/* menu-categorias-control*/

  nav menu{
  grid-area: nav;
  }

  nav menu{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  
/* main-control*/

  main{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  }

  main{
    grid-area: main;
  }

  
  
/* footer-control*/

  footer{
    grid-area: footer;
    }
  footer{
    display: flex;
    justify-content: center;
    }

@media (max-width: 600px) {
  /* HEADER */

  header {
    z-index: 1;
    padding: 0 2rem;
  }

  /* NAV */

  body > nav {
    padding-top: 1rem;
  }
  /* Control de conocimientos */

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav menu{
    display: flex;
    justify-content:space-evenly;
    flex-direction:row;
    align-content: center;
    }

  body{
    display: grid;
    grid-template: repeat(4, 150px 40px 1fr 50px ) / repeat(1,1fr);
    grid-template-areas:"header "
                        "nav"
                        "main "
                        "main "
                        "footer ";
  }
  article:nth-child(5){
    display: none;
  }

  article:nth-child(6){
    display: none;
  }

  article:nth-child(7){
    display: none;
  }

  article:nth-child(8){
    display: none;
  }
  
  article:nth-child(9){
    display: none;
  }
  
  article:nth-child(10){
    display: none;
  }
}
