body{
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
 /* HEADER */ 

h1{
    color: white;
    background-color:rgb(82, 112, 197);
    padding: 20px;
    text-align: center;
}

/* SECTION LISTA */

h2 {
    color: rgb(111, 140, 219);
}
main{
    margin: 35px;
}
ul{
   list-style-type: circle;
}
.importante{
    text-decoration:underline;
    font-weight: bold;
}

/* SECTION TABLA */

table{
    border: solid white 1px;
}
thead{
    background-color: rgb(82, 112, 197);
    color: white;
}
th,td{
    padding: 10px 20px;
}

tbody tr:nth-child(1){ 
    background-color: rgb(158, 181, 243);
}

tbody tr:nth-child(1) td{ 
    background-color: rgb(202, 212, 241);
}
tbody tr:nth-child(2){ 
    background-color: rgb(111, 140, 219);
}
tbody tr:nth-child(2) td{ 
    background-color: rgb(158, 181, 243);
}
tbody tr:nth-child(3){ 
    background-color: rgb(158, 181, 243);
    
}
tbody tr:nth-child(3) td{ 
    background-color: rgb(202, 212, 241);
}
tbody tr:nth-child(4){ 
    background-color: rgb(111, 140, 219);
    
}
tbody tr:nth-child(4) td{ 
    background-color: rgb(158, 181, 243);
}
tbody 
#descanso{
    font-weight: bold;
    text-align: center;
}